/testc1/nbproject/private/
/testc1/build/
/testc1/dist/
/testc1/src/testc1/testc1gLexer.java
/testc1/src/testc1/testc1gParser.java
/testc1/testc1g.tokens
/testc1/src/testc1/output
/unversioned
/javalibs
/grammars/output

/testc1/src/testc1/TestC1ScanParser.java
/testc1/src/testc1/TestC1ScanLexer.java
/testc1/TestC1Scan.tokens
/testc1/TestC1Def.tokens
/testc1/src/testc1/TestC1Def.g
/testc1/src/testc1/TestC1Def.java
/parser_core/.nb-gradle/private/
/parser_core/.gradle
/parser_core/src/main/java/org/miod/generated/*java
/parser_core/src/main/java/org/miod/generated/*tokens


/parser_core/build/
/parser_core/.nb-gradle/
/.nb-gradle/
/parser_core/lexer_parser/build/
/lexer_parser/build/
/miod_support/BUILD/
/test_expr/build/