/testc1/nbproject/private/
/testc1/build/
/testc1/dist/
/testc1/src/testc1/testc1gLexer.java
/testc1/src/testc1/testc1gParser.java
/testc1/testc1g.tokens
/testc1/src/testc1/output
/unversioned
/javalibs
/grammars/output

